<div class="row-content am-cf">
    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"><h1>编辑角色</h1></div>
                </div>
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-10 am-u-sm-centered">
                    <form action="{:zw_build_url('role/save')}" class="am-form" id="doc-vld-msg" method="post">
                        <input type="hidden" value="{$role_data.id}" name="id" />
                        <fieldset>
                            <div class="am-form-group">
                                <label for="role_name">角色名称：</label>
                                <input type="text" value="{$role_data.role_name}" name="role_name" id="role_name" minlength="3" placeholder="输入角色名（至少 3 个字符）" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="describe">角色描述：</label>
                                <input type="text" value="{$role_data.describe}" name="describe" id="describe" minlength="3" placeholder="输入角色描述（至少 3 个字符）" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="sort">排序：</label>
                                <input type="number" value="{$role_data.sort}" name="sort" id="sort" placeholder="输入序号">
                            </div>

                            <p align="center">
                                <a class="am-btn am-btn-default" href="{:zw_build_url('role/index')}">返回</a>
                                <button class="am-btn am-btn-success" type="submit">提交</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //表单验证
    $(function() {
        $('#doc-vld-msg').validator({
            //通过验证
            onValid: function(validity) {
                $(validity.field).closest('.am-form-group').find('.am-alert').hide();
            },
            //未通过验证
            onInValid: function(validity) {
                var $field = $(validity.field);
                var $group = $field.closest('.am-form-group');
                var $alert = $group.find('.am-alert');
                // 使用自定义的提示信息 或 插件内置的提示信息
                var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

                if (!$alert.length) {
                    $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
                    appendTo($group);
                }
                $alert.html(msg).show();
            },
        });
    });
</script>