<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"><h1>oracle 数据同步</h1></div>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <!--<a class="am-btn am-btn-default am-btn-success" href="{:zw_build_url('mission/addMission')}"><span class="am-icon-plus"></span> 新增</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div id="search-group" class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field search-text">
                            <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                </span>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>数据项</th>
                            </tr>
                            </thead>
                            <tbody id="role-table">
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synShopMonthData')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>月度门店销售明细表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synGoods')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>商品表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synShops')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>门店表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synShopsGoodsSaleE')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>门店商品E积分销售表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synE')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>E积分主表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synGroupBuy')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>团购主表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{:zw_build_url('orcdata/synShopGoodsGroupBuy')}" target="_blank" >
                                            <i class="am-icon-pencil"></i>门店商品团购销售表
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
